/* TEXT COLORS */
.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.yellow {
    color: yellow;
}

/* BACKGROUND COLORS */
.bg-white {
    background-color: white;
}

.bg-transparent {
    background-color: transparent;
}