* {
    font-family: Consolas;
    color: white;
}

body {
    background-color: rgb(31, 30, 30);
}

h1, h2, h3, p.header {
    color: black;
    margin: 0px;
}

header {
    padding: 10px;
    width: calc(100% - 20px);
    top: 0; left: 0;
    position: absolute;
    background-color: white;
}

section {
    margin-top: calc(1em + 30px);
}

button {
    cursor: pointer;
}

button.classic-button-style {
    border: 2px dashed white;
    background-color: transparent;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;

    animation: blink 2s infinite;
    transition: 2s;
}

button.classic-button-style:hover {
    border: 2px dashed black;
    background-color: white;
    color: black;
    padding-left: 30px;
    padding-right: 30px;
}

span.holder {
    display: inline-block;
}

b.typing {
    display: inline-block;
    height: 1em;
    white-space: nowrap;
    overflow: hidden;
    animation: elongate 0.8s forwards;
}

b.term-user {
    color: rgb(9, 181, 9);
}

b.term-host {
    color: rgb(187, 0, 255);
}

b.blinking {
    height: 1em;
    border-right: 2px solid white;
    animation: bblink 0.5s infinite;
}

.text-center {
    text-align: center;
}

#introduction {
    text-align: center;
}

#ascii-art {
    width: 100%;
    text-align: center;
    font-size: 15pt;
}


/******************
*    ANIMATIONS   *
*******************/

@keyframes blink {
    0% {
        padding-left: 20px;
        padding-right: 20px;
    }

    25% {
        padding-left: 30px;
        padding-right: 30px;
    }

    100% {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@keyframes bblink {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes elongate {
    0% { width: 0.5em; }
    100% { width: 3.5em; }
}