@font-face {
    font-family: ptmono;
    src: url('../assets/fonts/PTMono-Regular.ttf');
}

* {
    font-family: ptmono;
    font-size: 13pt;
}

body { background-color: rgb(46, 46, 46) }
h1 { font-size: 18pt; font-weight: bold; }
h2 { font-size: 15pt; font-weight: bold; }
hr { width: calc(12pt * 10); }

header {
    top: 0; left: 0;
    width: calc(100% - 1.6rem);
    padding: 0.8rem;

    background-color: white;
    position: fixed;
    z-index: 1;

    display: grid;
    grid-template-columns: 90% 10%;
}

img {
    border-radius: 50%;
    max-height: 235px;
    max-width: 235px;
}

img.icon {
    background-color: white;
    padding: 0.5rem;
}

div.root {
    display: absolute;
    width: 100%;
    top: 0; left: 0;
}

div.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}


div.body-container {
    padding-top: 5rem;
    color: white;
    width: 100%;
}

#intro, #projects {
    text-align: center;
}

#intro > p.about {
    max-width: 50%;
    text-align: center;
    margin: auto;
}

button.next {
    height: 4rem;
    width: 10rem;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: 1s;

    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
}

button.next:hover {
    width: 13rem;
    background-color: white;
    color: black;
    margin-right: 0rem;
    margin-left: 0rem;
}

button.close-menu-buttons {
    height: 15px;
    width: 15px;
    border: none;
    background-color: rgb(165, 41, 41);
    border-radius: 50%;
    display: inline-block;
}

button.minimize-menu-buttons {
    height: 15px;
    width: 15px;
    border: none;
    background-color: rgb(32, 206, 90);
    border-radius: 50%;
    display: inline-block;
}

button.maximize-menu-buttons {
    height: 15px;
    width: 15px;
    border: none;
    background-color: rgb(228, 228, 49);
    border-radius: 50%;
    display: inline-block;
}

