section.terminal div.terminal-bg {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 20px;
    padding-top: 0px;
}

section.terminal div.terminal-shadow-container {
    border-radius: 20px;
    box-shadow: 0px 0px 15px 3px rgba(225, 9, 232, 0.486);
    transition: 1s;
    cursor: pointer;
}

section.terminal div.terminal-bg div.header-design {
    height: 30px;
    width: calc(100% + 40px);

    background-color: white;
    transform: translateX(-20px);
    border-radius: 20px;

    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}


/* HOVER EFFECT FOR THE WHOLE TERMINAL */
section.terminal div.terminal-shadow-container:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 25px 3px rgba(225, 9, 232, 0.486);
}